
/* Header BG */
.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}


/* Header and Navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
}


/* Banner Style */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    color:#181818;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main Section */
main{
    max-width: 1140px;
    margin: 0 auto;
}


/* About Section */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{

}
.info-title{
    color: #757575;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.info-description{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}